# /
.classpath
*.project
*.settings
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras
**/bin
*~

*pom.xml.versionsBackup

**/target
**/error-screenshots

**/.sts4-cache/*
.factorypath

# Mac
*.DS_Store

# Python
scripts/*.pyc

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Selenium driver folders
selenium_standalone_zips
driver_zips
driver

bower_components
node
node_modules
/frontend
*/flow-*/frontend
package-lock.json
**/webpack.generated.js

demo-app/**/package.json
demo-app/**/webpack*.js
demo-app/**/tsconfig.json
demo-app/**/pnpm-lock.yaml
demo-app/**/index.html
yarn.lock

demo-app/**/types.d.ts
demo-app/**/*.generated.js
demo-app/**/*.generated.ts
demo-app/**/vite.config.ts
demo-app/**/generated/**
demo-app/**/pnpmfile.js
demo-app/**/.pnpmfile.cjs
demo-app/**/*.npmrc

*.xml.versionsBackup